body{
	font-family:sans-serif;
	background-color:#00ffff;
	margin:0;
	padding:0;
	text-align:center;
}

h1{
	background-color:#00ff00;
	color:lime;
	padding:15px 0;
}

h2{
	color:lime;
	text-decoration:initial;
	margin:0 15px;
}

.hero{
	background-color:#00ffff;
	color:cyan;
	padding:100px 20px;
}

footer{
	background-color: #00ff00;
	color:lime;
	padding:20px;
}

